@model IEnumerable<Spotify.Models.Artista>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeArtista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagemPerfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNasc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verificado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Streams)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeArtista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagemPerfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNasc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verificado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Streams)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDArtista }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDArtista }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDArtista })
        </td>
    </tr>
}

</table>
