@model Spotify.Models.Musica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeMusica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeMusica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Letra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Letra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMusica }) |
    @Html.ActionLink("Back to List", "Index")
</p>
